<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
        background-color: gray;
        text-align: center;
        margin: 0 auto;
      }
      .father{
        margin: 0 auto;
        width: 100%;
      }
      .child{
        width: inherit;
      }
      .text{
        white-space: nowrap;
        padding: 0 30%;
        font-size: 1.2em;
      }
      div h3{
        font-size: 1.5em;
        text-align: left;
      }
      h2{
        padding: 5%;
      }
      input{
        height: 20%;
        width: 20%;
        margin: 5% ;
        padding: 10%;
        font-size: 40pt;
      }
    </style>
    <div class="father">
    <h2>[[prop1]]!</h2>
    <div class="child">
      <div class="text">
      <h3>Label</h3>
      <p>Lorem ipsum dolor sit amet</p>
      <h3>Label</h3>
      <p>Lorem ipsum dolor sit amet</p>
      <h3>Label</h3>
      <p>Lorem ipsum dolor sit amet</p>
      </div>
      <input type="button" name="myButton" value="OK" class="btn">
    </div>
    </div>
  </template>

  <script>
    /**
     * `information-card`
     * Componente para presentacion de textos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Confirmation' //value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
